/* --- TOOL --- */

.tool
{
    width: 100%;
    height: 132px;

    padding: 24px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #046C7A0F;
}

.tool .box_tool
{
    display: flex;
    justify-content: space-between;
}

.tool .box_search
{
    display: flex;
    gap: 12px;
}

.tool .box_search .filter,
.tool .box_search .search
{
    border: 1px solid #C2C5C8;
    border-radius: 6px;

    color: #6F7881;
}

.tool .box_search .filter
{
    width: 32px;
    height: 32px;

    padding: 8px;
}

.tool .box_search .search
{
    width: 396px;
    height: 32px;

    padding: 6px 12px;

    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.tool .search input
{
    width: 100%;
}

.tool .search input::placeholder
{
    font: italic 400 14px/19.6px 'Inter', sans-serif;
    color: #C2C5C8;
}


.tool .box_added
{
    width: 233px;
    height: 40px;

    padding: 8px 27px;
    border-radius: 4px;

    display: flex;
    gap: 8px;
    align-items: center;

    font: 400 16px/24px 'Inter', sans-serif;
    letter-spacing: 0em;
    text-align: center;

    background-color: #046C7A;
    color: #FFF;
}

.tool .list_tegs
{
    display: flex;
    gap: 12px;
}

.tool .list_tegs .teg
{
    height: 22px;

    padding: 2px 8px;

    border: 1px solid #046C7A;
    border-radius: 4px;

    font: 500 11px/18px 'Inter', sans-serif;
    letter-spacing: 0.03em;
    text-align: left;
    color: #046C7A;
}

.teg button i
{
    width: 16px;
    height: 16px;
    text-align: center;
}

/* --- PAGE --- */

.page
{
    height: 40px;

    display: flex;
    align-items: center;

    font: 400 12px/17px 'Apercu Pro', sans-serif; 
    color: #9BA3AC;
}

.page span
{
    color: #046C7A;
    font-family: 'Poppins';
}