.wrapper
{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container
{
    max-width: 1440px;
    height: 87px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 24px;
}


.header section
{
    border-bottom: 1px solid #D9D1E0;
}

.header .logo
{
    width: 198px;
    height: 86px;
}


.header .contacts
{
    width: 304px;
}

.header .contacts .phone_number
{
    font: 500 16px/23.68px 'Inter', sans-serif;
    color: #14191F;
}

.header .contacts .email
{
    font: 400 14px/16.6px 'Inter', sans-serif;
    color: #046C7A;
}


.header .search
{
    width: 306px;
    height: 36px;

    padding: 6px 12px;

    display: flex;
    justify-content: space-between;
    gap: 6px;

    border: 1px solid #C2C5C8;
    border-radius: 6px;

    color: #6F7881;
}

.header .search input
{
    width: 100%;
}

.header .search input::placeholder
{
    font: italic 400 14px/19.6px 'Inter', sans-serif;
    color: #C2C5C8;
}


.header .user
{
    width: 416px;
    height: 24px;
}

.header .user, .header .user button
{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8px;
}

.header .user p
{
    height: 24px;

    font: 400 16px/23.68px 'Inter', sans-serif;

}

/* --- MENU --- */

.header .menu
{
    width: 100%;
    height: 55px;
}

.header .menu ul
{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 28px;
}


.header .menu ul li
{
    height: 100%;
    padding: 17px 4px 16px;

    font: 400 14px/21px 'Inter', sans-serif;
    color: #1A141F;
    letter-spacing: 0em;
    text-align: center;
}

.header .menu a
{
    color: #1A141F;
}

.header .menu li:hover
{
    border-bottom: 2px solid #046C7A;
}

/* --- MAIN --- */

.main
{
    height: 100%;
}

.container 
{
    max-width: 1440px;
    height: 100%;
    margin: 34.5px auto 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
}