{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clients_list_styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/apercu-pro" rel="stylesheet">
{% endblock %}
{% block title %}Список записей{% endblock %}

{% block content %}

<section class="tool">
    <div class="box_tool">

        <div class="box_search">

            <div class="search">
                <input type="text" id="searchInput" placeholder="Поиск по ФИО">
                <button type="button" id="searchButton"><i class="fas fa-search"></i></button>
            </div>
            
            <button type="submit" class="filter" id="resetSortingButton"><i class="fas fa-filter"></i></button>
        </div>

        <div>
            <button id="toggleFormBtn" class="box_added" onclick="toggleForm()">
                <i class="fas fa-user-plus"></i>
                <span>Добавить пациента</span>
            </button>
        </div>
    </div>
    
    <div class="box_tegs">
        <ul class="list_tegs">
            <li class="teg">
                <button>
                    <span>Filtered option 1</span>
                    <i class="fas fa-times"></i>
                </button>
            </li>
            <li class="teg">
                <button>
                    <span>Filtered option 2</span>
                    <i class="fas fa-times"></i>
                </button>
            </li>
        </ul>
    </div>
</section>

<section class="addwindow">
    <form id="addClientForm" method="post" action="{% url 'client_list' %}" style="display: none;"
    onsubmit="return validateClientForm()">
        <div class="input_box">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="hidden" name="action" value="save">
        </div>
        <div class="button_box">
            <button type="submit" class="button">Сохранить</button>
        </div>
    </form>

</section>

<section class="page">
    <p>Showing <span>10</span> from <span>893</span> results</p>
</section>

<section class="table">
    <table>
        <colgroup>
            <col style="width: 18%;"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
            <col style="width: 7%;"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
            <col span="5" style="width: 15%;"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
          </colgroup>
        <caption></caption>
        <thead>
            <tr class="table_header">
                <th class="fio_width" {% if sort_by == 'last_name' %} class="active"{% endif %}>
                    <a href="?sort=last_name&order={{ next_order }}">
                        <span>Ф.И.О.</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="age_width" {% if sort_by == 'age' %} class="active"{% endif %}>
                    <a href="?sort=age&order={{ next_order }}">
                        <span>Возраст</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="all_width" {% if sort_by == 'body_mass_index' %} class="active"{% endif %}>
                    <a href="?sort=body_mass_index&order={{ next_order }}">
                        <span>ИМТ</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="all_width" {% if sort_by == 'spo2' %} class="active"{% endif %}>
                    <a href="?sort=spo2&order={{ next_order }}">
                        <span>SPO2</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="all_width" {% if sort_by == 'admission_date' %} class="active"{% endif %}>
                    <a href="?sort=admission_date&order={{ next_order }}">
                        <span>Дата Поступления</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="all_width" {% if sort_by == 'result' %} class="active"{% endif %}>
                    <a href="?sort=result&order={{ next_order }}">
                        <span>Результат</span>
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th class="all_width">Действия</th>
            </tr>
        </thead>

        <tbody>
        {% for client in clients %}
        <tr class="table_content">
            <td class="cell_name">
                <div data-tooltip="{{ client }}">
                    <p>{{ client }}</p>
                </div>
                <a href="{% url 'client_detail' id_token=client.id_token %}">Дополнительная информация</a>
            </td>
            <td class="cell_age">{{ client.age }}</td>
            <td class="cell_imt">{{ client.body_mass_index }}</td>
            <td class="cell_spo">{{ client.spo2 }}</td>
            <td class="cell_date">{{ client.admission_date }}</td>
            <td class="cell_res">{{ client.result }}</td>
            <td class="cell_button">
                <a href="{% url 'client_detail' id_token=client.id_token %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<section class="pagination">
    <div class="pagination_left_box">
        {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}">
                <img src="{% static 'img/svg/left.svg' %}" alt="left_arrow">
            </a>
        {% endif %}
        
        {% if clients.has_previous %}
            <a href="?page=1" class="number">1</a>
        {% endif %}
        
        {% if clients.has_previous %}
        <img src="{% static 'img/svg/more-horizontal.svg' %}" alt="points" class="points">
        {% endif %}

        <a href="?page=4" class="number">4</a>
        <a href="?page=5" class="number">5</a>
        <a href="?page=6" class="number">6</a>
        <a href="?page=7" class="number">7</a>
        <a href="?page=8" class="number">8</a>
        {% if clients.has_next %}
        <img src="{% static 'img/svg/more-horizontal.svg' %}" alt="points" class="points">
        {% endif %}

        {% if clients.has_next %}
            <a href="?page={{ clients.paginator.num_pages }}" class="number">{{ clients.paginator.num_pages }}</a>
        {% endif %}

        {% if clients.has_next %}
            <a href="?page={{ clients.next_page_number }}">
                <img src="{% static 'img/svg/right.svg' %}" alt="right_arrow">
            </a>
        {% endif %}
    </div>

    <div class="pagination_right_box">
        <div class="select_page_number">
            <label for="pagination" class="select_page">
                <span>{{ clients.number }} / Page</span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </label>
            <select id="pagination" name="page" class="page_selector" placeholder="Страница...">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>

        <label for="goTo">Go to</label>
        <input type="text" id="goTo">
    </div>
</section>


<script src="{% static 'scripts/clients_scripts.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const searchButton = document.getElementById('searchButton');

        searchButton.addEventListener('click', function () {
            const searchInput = document.getElementById('searchInput');
            const searchQuery = searchInput.value.trim();  // Trim to remove leading/trailing spaces

            if (searchQuery !== '') {
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('search', searchQuery);
                window.location.href = currentUrl.toString();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const resetSortingButton = document.getElementById('resetSortingButton');

        resetSortingButton.addEventListener('click', function () {
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.delete('sort');  // Remove the 'sort' parameter
            window.location.href = currentUrl.toString();
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const resetSortingButton = document.getElementById('resetSortingButton');

        resetSortingButton.addEventListener('click', function () {
            const currentUrl = new URL(window.location.href);
            const searchParamIndex = currentUrl.href.indexOf('?search');

            if (searchParamIndex !== -1) {
                const baseUrl = currentUrl.href.substring(0, searchParamIndex);
                window.location.href = baseUrl;
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');

        // Event listener to enlarge the input field when typing
        searchInput.addEventListener('input', function () {
            if (searchInput.value.trim() !== '') {
                searchInput.classList.add('enlarged');
            } else {
                searchInput.classList.remove('enlarged');
            }
        });

        // Event listener for the search button click
        searchButton.addEventListener('click', function () {
            // Perform the search functionality here
            alert('Searching for: ' + searchInput.value);
        });
    });

</script>

{% endblock %}